#main{
            background-color:#ccc5b9;
    margin: 0px;
    padding: 0px;
}
#navbar{
    width: 100%;
    background-color: #3f4045;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; 
    z-index: 2;
}
#wrapper{
    height: 140px;

}
#categorySpace{
    width:100%;
    height:51px;
    background-color: crimson;
  position: fixed;
  top: 83px; 
    z-index: 1;
    background-color: #ffffff;
    width:100%;
    text-align: center;
    height:40px;
    padding: 4px 0px 0px 0px;
    transition: 0.5s;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #3f4045;
}


.navbar2{
  position: fixed;
  top: 32px; 
    z-index: 1;
    background-color: #ffffff;
    width:100%;
    text-align: center;
    height:51px;
    padding: 4px 0px 4px 0px;
    transition: 0.5s;
}
.logoImg{
        object-fit: cover;
    height:98%;
    transition: 0.4s;
    
}


#menuitem{
    display:inline-block;
}


svg {
  fill:white;
    transition: 0.3s;
}
svg:hover {
  fill: #fcdebe;
    border-radius: 50px;
}

.menuicons{
    float:right;
    margin: 4px 4px 0px 0px;
}


 /* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  border: none;
    transition:0.4s;
    padding: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
      z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3f4045; color: white;} 

#searchIcon{
    fill: #000000;
}
a{
    padding: 14px;
}
* {box-sizing:border-box}

.checkoutmenu{
    width: 100%;
    height: 700px;
      display: inline-block;
    padding: 24px 40px 24px 40px;


}
.items{
        width:68%;
    height:100%;
      display: inline-block;
        vertical-align: top;
    padding: 0px 30px 0px 0px;



}
.sum{
    position: relative;
    width:32%;
    height:50%;
        background-color:#ffffff;
      display: inline-block;
        vertical-align: top;

 

}
.item{
    width:100%;
    height: 180px;
    padding: 15px 0px 15px 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
}
.productimage{
    width:120px;
    height:100%;
    object-fit: cover;
}
.itemfooter{
    width:100%;
    height: 115px;
    padding: 15px 0px 15px 0px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #ffffff;
}
.left{
    display:inline-block;
        height: 100%;
    width:15%;

}
.right{
    display: inline-block;
    padding: 0px 0px 0px 15px;
    height: 100%;
            vertical-align: top;
    width:80%;

}
.leftinfo{
        display: inline-block;
    height:100%;

}
.rightinfo{
        display: inline-block;
    height:100%;
    float: right;

}
select{
    border-width: 1px;
    border-color: #ffffff;
    transition: 0.4s;
}
select:hover{
        border-color: #000000;

}
.finalize{
    cursor: pointer;
    width:58%;
    height: 44px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +150%);
    background-color: #3f4045;
    text-align: center;
vertical-align: middle;
line-height: 8px;
    transition:0.3s;

    

}
.info{
    padding: 0px 15px 0px 15px;
}
*{
    line-height: 18px;
    font-family: 'Inconsolata', monospace;
}



